<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="format-detection" content="date=no" />
  <meta name="format-detection" content="address=no" />
  <meta name="format-detection" content="telephone=no" />
  <!-- TODO: 1 add custom page title -->
  <title>Email TEMPLATE.</title>

  <style type="text/css" media="screen">
    /* Linked Styles */
    body {
      padding: 0 !important;
      margin: 0 !important;
      display: block !important;
      min-width: 650px;
      width: 100% !important;
      background: #eeeeee;
      -webkit-text-size-adjust: none;
    }

    a {
      color: #777777;
      text-decoration: underline;
    }

    p {
      padding: 0 !important;
      margin: 0 !important;
    }

    img {
      -ms-interpolation-mode: bicubic;
      /* Allow smoother rendering of resized image in Internet Explorer */
    }

    .text-footer-l a {
      color: #ffffff;
      text-decoration: underline;
    }

    .text-footer-r a {
      color: #ffffff;
      text-decoration: underline;
    }

    .text-footer-c a {
      color: #ffffff;
      text-decoration: underline;
    }

    .h4 a {
      color: #303030;
      text-decoration: none;
    }

    .coupon {
      width: 400px;
    }

    /* Mobile styles */
    @media only screen and (max-device-width: 480px),
    only screen and (max-width: 480px) {
      body[class="body"] {
        min-width: 100% !important;
      }

      div[class="mobile-br-1"] {
        height: 1px !important;
      }

      div[class="mobile-br-5"] {
        height: 5px !important;
      }

      div[class="mobile-br-10"] {
        height: 10px !important;
      }

      div[class="mobile-br-15"] {
        height: 15px !important;
      }

      div[class="mobile-br-20"] {
        height: 20px !important;
      }

      div[class="mobile-br-30"] {
        height: 30px !important;
      }

      th[class="m-td"],
      td[class="m-td"],
      div[class="hide-for-mobile"],
      span[class="hide-for-mobile"] {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        font-size: 0 !important;
        line-height: 0 !important;
        min-height: 0 !important;
      }

      span[class="mobile-block"] {
        display: block !important;
      }

      div[class="img-m-center"] {
        text-align: center !important;
      }

      td[class="text-top"],
      div[class="text-top"],
      div[class="text-nav"],
      div[class="text-footer-l"],
      div[class="text-footer-r"],
      div[class="text-white-center"] {
        text-align: center !important;
        line-height: 22px !important;
      }

      .coupon {
        width: 300px;
      }

      div[class="fluid-img"] img,
      td[class="fluid-img"] img {
        width: 100% !important;
        max-width: 100% !important;
        height: auto !important;
      }

      table[class="mobile-shell"] {
        width: 100% !important;
        min-width: 100% !important;
      }

      table[class="center"] {
        margin: 0 auto;
      }

      th[class="column-rtl"],
      th[class="column-rtl2"],
      th[class="column-top"],
      th[class="column"] {
        float: left !important;
        width: 100% !important;
        display: block !important;
      }

      td[class="td"] {
        width: 100% !important;
        min-width: 100% !important;
      }

      td[class="content-spacing"] {
        width: 15px !important;
      }
    }
  </style>
</head>

<body class="body" style="
      padding: 0 !important;
      margin: 0 !important;
      display: block !important;
      min-width: 650px;
      width: 100% !important;
      background: #eeeeee;
      -webkit-text-size-adjust: none;
    ">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee">
    <tr>
      <td align="center" valign="top">
        <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
          <tr>
            <td class="td" style="
                  width: 650px;
                  min-width: 650px;
                  font-size: 0pt;
                  line-height: 0pt;
                  padding: 0;
                  margin: 0;
                  font-weight: normal;
                  margin: 0;
                ">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="
                    font-size: 0pt;
                    line-height: 0pt;
                    text-align: center;
                    width: 100%;
                    min-width: 100%;
                  ">
                <tr>
                  <td height="30" class="spacer" style="
                        font-size: 0pt;
                        line-height: 0pt;
                        text-align: center;
                        width: 100%;
                        min-width: 100%;
                      ">
                    &nbsp;
                  </td>
                </tr>
              </table>

              <repeater>
                <!-- Section 1 -->

                <layout label="Section 1">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td>
                        <div style="
                              position: relative;
                              background-image: url('https://dubailife-assets-stage.s3.eu-west-3.amazonaws.com/assets/images/v1.0.0/homeHero.png');
                              background-position: center;
                              top: 0px;
                              z-index: 1;
                              color: #fff;
                              text-align: center;
                              width: 650;
                              height: 306;
                              padding: 30px 0;
                            ">
                          <img
                            src="https://dubailife-assets-stage.s3.eu-west-3.amazonaws.com/assets/images/v1.0.0/logo_icon.png"
                            style="margin: 0 auto; width: 40px; height: auto" />
                          <p style="
                                font: 35px/38px Arial, Helvetica, sans-serif;
                                font-size: 60px;
                                margin: 40px 0 5px 0;
                                font-weight: bold;
                              ">
                            Jeu Concours
                          </p>

                          <p style="
                                font: 35px/38px Arial, Helvetica, sans-serif;
                                font-size: 25px;
                                font-weight: bold;
                                color: #d19f46;
                              ">
                            THE NEW LIFE BY DUBAI LIFE
                          </p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </layout>
                <!-- END Section 1 -->

                <!-- Section 2 -->
                <layout label="Section 2">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                    <tr>
                      <td class="content-spacing" style="
                            font-size: 0pt;
                            line-height: 0pt;
                            text-align: left;
                          " width="30"></td>
                      <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="
                              font-size: 0pt;
                              line-height: 0pt;
                              text-align: center;
                              width: 100%;
                              min-width: 100%;
                            ">
                          <tr>
                            <td height="35" class="spacer" style="
                                  font-size: 0pt;
                                  line-height: 0pt;
                                  text-align: center;
                                  width: 100%;
                                  min-width: 100%;
                                ">
                              &nbsp;
                            </td>
                          </tr>
                        </table>

                        <div class="h2-center" style="
                              color: #303030;
                              font-family: 'Times New Roman', Times, serif;
                              font-size: 30px;
                              line-height: 34px;
                              text-align: center;
                            ">
                          <img
                            src="https://dubailife-assets-stage.s3.eu-west-3.amazonaws.com/assets/images/v1.0.0/check.png"
                            style="margin: 0 auto; width: 40px; height: auto" />
                          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="
                                font-size: 0pt;
                                line-height: 0pt;
                                text-align: center;
                                width: 100%;
                                min-width: 100%;
                              ">
                            <tr>
                              <td height="35" class="spacer" style="
                                    font-size: 0pt;
                                    line-height: 0pt;
                                    text-align: center;
                                    width: 100%;
                                    min-width: 100%;
                                  ">
                                &nbsp;
                              </td>
                            </tr>
                          </table>
                        </div>
                        <div class="h2-center" style="
                              color: #303030;
                              font-family: Arial, Helvetica, sans-serif;
                              font-size: 30px;
                              line-height: 34px;
                              text-align: center;
                              width: 100%;
                              max-width: 650px;
                              display: flex;
                              justify-content: space-between;
                              align-items: center;
                            ">
                          <div style="
                                vertical-align: middel;
                                border-bottom: 5px solid #d19f46;
                                height: 15px;
                                width: 90%;
                                margin: 0 10px;
                              "></div>
                          <multiline style="height: 30px">Félicitation</multiline>
                          <div style="
                                vertical-align: middel;
                                border-bottom: 5px solid #d19f46;
                                height: 15px;
                                width: 90%;
                                margin: 0 10px;
                              "></div>
                        </div>

                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="
                              font-size: 0pt;
                              line-height: 0pt;
                              text-align: center;
                              width: 100%;
                              min-width: 100%;
                            ">
                          <tr>
                            <td height="35" class="spacer" style="
                                  font-size: 0pt;
                                  line-height: 0pt;
                                  text-align: center;
                                  width: 100%;
                                  min-width: 100%;
                                  height: 10px;
                                ">
                              &nbsp;
                            </td>
                          </tr>
                        </table>
                        <div class="h5-grey2-center" style="
                              color: #fff;
                              font-family: Arial, Helvetica, sans-serif;
                              font-size: 14px;
                              line-height: 18px;
                              text-transform: uppercase;
                              text-align: center;
                            ">
                          <span style="
                                background-color: #d19f46 !important;
                                padding: 5px 10px;
                                border-radius: 5px;
                              ">
                            Vous êtes à deux portes de votre future
                            appartement sur Dubaï
                          </span>
                        </div>
                      </td>
                      <td class="content-spacing" style="
                            font-size: 0pt;
                            line-height: 0pt;
                            text-align: left;
                          " width="30"></td>
                    </tr>
                  </table>
                </layout>
                <!-- END Section 2 -->

                <!-- Section 3  -->
                <layout label="Section 3">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                    <tr>
                      <td class="content-spacing" style="
                            font-size: 0pt;
                            line-height: 0pt;
                            text-align: left;
                          " width="30"></td>
                      <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <!-- Column -->
                            <th class="column-top" style="
                                  font-size: 0pt;
                                  line-height: 0pt;
                                  padding: 0;
                                  margin: 0;
                                  font-weight: normal;
                                  vertical-align: middle;
                                  margin: 0;
                                ">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td>
                                    <div style="
                                          font-size: 0pt;
                                          line-height: 0pt;
                                          text-align: center;
                                        ">
                                      <img
                                        src="https://dubailife-assets-stage.s3.eu-west-3.amazonaws.com/assets/images/v1.0.0/board.png"
                                        editable="true" border="0" width="230" height="auto" alt="" />
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </th>
                            <!-- END Column -->
                            <!-- Column -->
                            <th class="column" style="
                                  font-size: 0pt;
                                  line-height: 0pt;
                                  padding: 0;
                                  margin: 0;
                                  font-weight: normal;
                                  margin: 0;
                                " width="30">
                              <div style="font-size: 0pt; line-height: 0pt" class="mobile-br-30"></div>
                            </th>
                            <!-- END Column -->
                            <!-- Column -->
                            <th class="column-top" style="
                                  font-size: 0pt;
                                  line-height: 0pt;
                                  padding: 0;
                                  margin: 0;
                                  font-weight: normal;
                                  vertical-align: middle;
                                  margin: 0;
                                ">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td>
                                    <div style="
                                          font-size: 0pt;
                                          line-height: 0pt;
                                          text-align: center;
                                        ">
                                      <img
                                        src="https://dubailife-assets-stage.s3.eu-west-3.amazonaws.com/assets/images/v1.0.0/emailAnnonce.png"
                                        editable="true" border="0" width="230" height="auto" alt="" />
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </th>
                            <!-- END Column -->
                          </tr>
                        </table>
                      </td>
                      <td class="content-spacing" style="
                            font-size: 0pt;
                            line-height: 0pt;
                            text-align: left;
                          " width="30"></td>
                    </tr>
                  </table>
                </layout>
                <!-- END Section 3 -->
                <!-- Section 4 -->
                <layout label="Section 4">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                    <!-- Call to action -->

                    <tr>
                      <td data-bgcolor="bg-button" data-size="size button" data-min="10" data-max="16" class="btn"
                        align="center" style="
                            font: 12px/14px Arial, Helvetica, sans-serif;
                            color: #f8f9fb;
                            text-transform: uppercase;
                            mso-padding-alt: 12px 10px 10px;
                          ">
                        <a href="https://www.the-new-life.fr/shop" target="_blank" style="
                              text-decoration: none;
                              color: #f8f9fb;
                              display: block;
                              padding: 12px 10px 10px;
                              border-radius: 5px;
                              background: #d1a046;
                              margin: 50px auto;
                              font-size: 18px;
                              font-weight: bold;
                              width: 250px;
                              letter-spacing: 1px;
                              text-transform: capitalize;
                            ">
                          Prendre mon E-book
                        </a>
                      </td>
                    </tr>
                  </table>
                </layout>
                <!-- END Section 4 -->
                <!-- Section 5  -->
                <layout label="Section 5">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                    <tr>
                      <td class="content-spacing" style="
                            font-size: 0pt;
                            line-height: 0pt;
                            text-align: left;
                          " width="30"></td>
                      <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <!-- Column -->
                            <th class="column-top" style="
                                  font-size: 0pt;
                                  line-height: 0pt;
                                  padding: 0;
                                  margin: 0;
                                  font-weight: normal;
                                  vertical-align: top;
                                  margin: 0;
                                " width="280">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0" sty>
                                <tr>
                                  <td style="
                                        border: 1px solid #303030;
                                        border-radius: 25px;
                                      ">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="
                                          font-size: 0pt;
                                          line-height: 0pt;
                                          text-align: center;
                                          width: 100%;
                                          min-width: 100%;
                                        ">
                                      <tr>
                                        <td height="26" class="spacer" style="
                                              font-size: 0pt;
                                              line-height: 0pt;
                                              text-align: center;
                                              width: 100%;
                                              min-width: 100%;
                                            ">
                                          &nbsp;
                                        </td>
                                      </tr>
                                    </table>

                                    <div class="h3-gold" style="
                                          color: #303030;
                                          font-family: Arial, Helvetica,
                                            sans-serif;
                                          font-size: 24px;
                                          font-weight: bold;
                                          line-height: 28px;
                                          text-align: center;
                                        ">
                                      <multiline>SUIVEZ LES EVENEMENTS</multiline>
                                    </div>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="
                                          font-size: 0pt;
                                          line-height: 0pt;
                                          text-align: center;
                                          width: 100%;
                                          min-width: 100%;
                                        ">
                                      <tr>
                                        <td height="35" class="spacer" style="
                                              font-size: 0pt;
                                              line-height: 0pt;
                                              text-align: center;
                                              width: 100%;
                                              min-width: 100%;
                                              height: 10px;
                                            ">
                                          &nbsp;
                                        </td>
                                      </tr>
                                    </table>
                                    <div class="text2" style="
                                          color: #303030;
                                          font-family: Arial, Helvetica,
                                            sans-serif;
                                          font-size: 24px;
                                          line-height: 24px;
                                          font-weight: normal;
                                          text-align: center;
                                        ">
                                      <multiline>SUR NOTRE COMPTE</multiline>
                                    </div>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="
                                          font-size: 0pt;
                                          line-height: 0pt;
                                          text-align: center;
                                          width: 100%;
                                          min-width: 100%;
                                        ">
                                      <tr>
                                        <td height="35" class="spacer" style="
                                              font-size: 0pt;
                                              line-height: 0pt;
                                              text-align: center;
                                              width: 100%;
                                              min-width: 100%;
                                              height: 10px;
                                            ">
                                          &nbsp;
                                        </td>
                                      </tr>
                                    </table>
                                    <div class="text2" style="
                                          color: #303030;
                                          font-family: Arial, Helvetica,
                                            sans-serif;
                                          font-size: 24px;
                                          font-weight: bold;
                                          line-height: 24px;
                                          text-align: center;
                                        ">
                                      <multiline><a href="https://www.instagram.com/the.dubai.life/" target="_blank"
                                          style="
                                              color: #303030;
                                              margin: 0 4px;
                                            ">
                                          INSTGRAM
                                        </a>
                                        &
                                        <a href="https://www.snapchat.com/add/the-dubailife" target="_blank" style="
                                              color: #303030;
                                              margin: 0 4px;
                                            ">
                                          SNAPSHAT
                                        </a>
                                      </multiline>
                                    </div>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="
                                          font-size: 0pt;
                                          line-height: 0pt;
                                          text-align: center;
                                          width: 100%;
                                          min-width: 100%;
                                        ">
                                      <tr>
                                        <td height="26" class="spacer" style="
                                              font-size: 0pt;
                                              line-height: 0pt;
                                              text-align: center;
                                              width: 100%;
                                              min-width: 100%;
                                            ">
                                          &nbsp;
                                        </td>
                                      </tr>
                                    </table>
                                    <div class="text2" style="text-align: center">
                                      <multiline>
                                        <a href="https://www.instagram.com/the.dubai.life/" target="_blank"
                                          style="margin: 0 auto">
                                          <img
                                            src="https://dubailife-assets-stage.s3.eu-west-3.amazonaws.com/assets/images/v1.0.0/instagram-icon.png" />
                                        </a>
                                        <a href="https://www.snapchat.com/add/the-dubailife" target="_blank"
                                          style="margin: 0 auto">
                                          <img
                                            src="https://dubailife-assets-stage.s3.eu-west-3.amazonaws.com/assets/images/v1.0.0/snapchat-icon.png" />
                                        </a>
                                      </multiline>
                                    </div>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="
                                          font-size: 0pt;
                                          line-height: 0pt;
                                          text-align: center;
                                          width: 100%;
                                          min-width: 100%;
                                        ">
                                      <tr>
                                        <td height="26" class="spacer" style="
                                              font-size: 0pt;
                                              line-height: 0pt;
                                              text-align: center;
                                              width: 100%;
                                              min-width: 100%;
                                            ">
                                          &nbsp;
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </th>
                            <!-- END Column -->
                          </tr>
                        </table>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="
                              font-size: 0pt;
                              line-height: 0pt;
                              text-align: center;
                              width: 100%;
                              min-width: 100%;
                            ">
                          <tr>
                            <td height="30" class="spacer" style="
                                  font-size: 0pt;
                                  line-height: 0pt;
                                  text-align: center;
                                  width: 100%;
                                  min-width: 100%;
                                ">
                              &nbsp;
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td class="content-spacing" style="
                            font-size: 0pt;
                            line-height: 0pt;
                            text-align: left;
                          " width="30"></td>
                    </tr>
                  </table>
                </layout>
                <!-- END Section 5 -->
              </repeater>

              <!-- buttom space-->

              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="
                    font-size: 0pt;
                    line-height: 0pt;
                    text-align: center;
                    width: 100%;
                    min-width: 100%;
                  ">
                <tr>
                  <td height="30" class="spacer" style="
                        font-size: 0pt;
                        line-height: 0pt;
                        text-align: center;
                        width: 100%;
                        min-width: 100%;
                      ">
                    &nbsp;
                  </td>
                </tr>
              </table>

              <!-- END buttom space-->
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>